{% extends 'pass_reset_done.html' %}

{% block content %}

<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    </style>
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Reset Password</h3>
                </div>
                <div class="card-body">
                    <p style="font-family:Arial, Helvetica, sans-serif ;">Forgotten your password? Enter your email address below, and we'll email instructions for setting
                        a new one.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="mt-4 mb-0">
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Submit" class="btn btn-dark">
                            </div>
                        </div>
                        <!-- <input type="submit" value="Submit" class="btn btn-dark"> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}